.btn {
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
  background-color: $primaryBlue;
  color: $whiteColor;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: .3s linear;
  }
}
