.footer {
  padding: 100px 0 10px 0;
  color: $whiteColor;
  background-color: $secondaryBlue;
  &__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 60px;
    @include onMobile {
      align-items: center;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    @include onMobile {
      @include flex-column-center;
      gap: 20px;
      font-size: 14px;
    }
  }
  &__copyright {
    font-weight: 400;
    font-size: 15px;
    line-height: 200%;
    color: $whiteColor;
    @include onMobile {
      text-align: center;
    }
  }
  &__sitemap {
    font-size: 16px;
    line-height: 188%;
    color: $whiteColor;
    @include onMobile {
      text-align: center;
    }
    &:hover {
      color: $primaryBlue;
      transition: .3s linear;
    }
  }
}

.links {
  padding: 149px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  @include onMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $whiteColor;
    margin-bottom: 20px;
  }
  &__block {
    display: flex;
    flex-direction: column;
  }
}

.list {
  &__item {
    padding: 11px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  &__link {
    font-size: 15px;
    line-height: 187%;
    color: $whiteColor;
    &:hover {
      color: $primaryBlue;
      transition: .3s linear;
    }
  }
}

.socials {
  display: flex;
  gap: 20px;
  &__link {
    font-size: 16px;
    line-height: 188%;
    color: $whiteColor;
    &:hover {
      color: $primaryBlue;
      transition: .3s linear;
    }
  }
}
