.header {
  background-color: $blackColor;
  padding-top: 30px;
  background-image: url(../../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  &__top {
    @include flex-all-sb;
  }
  &__content {
    max-width: 430px;
    margin-top: 160px;
    @include onMobile {
      text-align: center;
     }
  }
  &__title {
    font-size: 42px;
    font-weight: 400;
    line-height: 119%;
    color: $whiteColor;
    margin-bottom: 50px;
  }
  &__desc {
    font-size: 11px;
    line-height: 273%;
    color: $whiteColor;
    margin-bottom: 46px;
    @include onMobile {
      font-size: 14px;
     }
  }
  &__btn {
    margin: 0 !important;
    @include onMobile {
      display: inline-block !important;
     }
  }
}


.btn-quote {
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  text-align: center;
  color: $whiteColor;
  padding: 12px 15px;
  border: 1px solid $whiteColor;
  border-radius: 5px;
}

.menu--active {
  opacity: 1;
  visibility: visible;
}
