.options {
  @include flex-h-center;
  gap: 100px;
  margin-bottom: 50px;
  &__item {
    font-size: 24px;
    line-height: 158%;
    text-align: center;
    color: $blackColor;
    cursor: pointer;
    &:hover, &--active {
      color: $primaryBlue;
      transition: .3s linear;
    }
  }
}

