.relationships {
  padding: 75px 0;
  &__companies  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    background-color: $greyBG;
    padding: 50px 0px;
    margin-top: 50px;
    @include onMobile {
      display: flex;
      flex-direction: column;
    }
  }

}
