<section class="career">
  <div class="container">
    <h2 class="title">kickstart your tech career</h2>
    <p class="desc">
      We're always on the lookout for bright strategic minds, creative
      superstars and coding gurus. Select one of our current opportunities below
      to apply.
    </p>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#" class="position">Backend Engineer</a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="position">Product Designer</a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="position">Frontend Engineer</a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="position">Project Manager</a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="position">Finance Director</a>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
