<section class="faq">
  <div class="container">
    <h2 class="title">FAQ</h2>
    <p class="desc">
      Below is a list of frequently asked questions. If you can't find what you’re looking for then feel free to ask us directly via <span class="faq__email">email</span>
    </p>
    <div class="accordion">
      <div class="accordion__item">
        <h3 class="accordion__title">1. What is your privacy and security policy?</h3>
        <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas id, aliquid ea blanditiis mollitia dolore eius necessitatibus optio iusto vero velit ipsam, natus iure, a magnam quidem alias dolorem vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, perferendis quisquam ad quae provident voluptate modi, laborum dolor quos dignissimos odit sunt eveniet aliquam voluptas, est ipsum illum hic quas!</p>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__title">2. How long is the development timeline?</h3>
        <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit labore cum, reprehenderit nam sed veritatis cumque eius iusto, officia nihil a modi nisi tempora, possimus vero quibusdam eaque at laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde fugit perferendis culpa ducimus rerum assumenda beatae ad similique animi accusantium, dolor saepe adipisci quo itaque quas perspiciatis laudantium odio. Quaerat.</p>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__title">3. What type of companies do you work with?</h3>
        <p class="accordion__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ipsam dicta maiores, quaerat officia obcaecati magni possimus id necessitatibus delectus ex nulla laudantium vero est. Repellat amet repellendus hic quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, distinctio molestias quae maxime dicta nihil repudiandae veritatis nulla quos iste, eligendi inventore aperiam nostrum corrupti cumque, omnis optio asperiores possimus!</p>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__title">4. How many team members for a project?</h3>
        <p class="accordion__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati porro cupiditate provident architecto officia aliquam libero non ipsa placeat! Quas illum rem veritatis ab aperiam modi doloribus, odio at officiis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae numquam doloribus eligendi, tenetur unde labore ipsam sequi at, excepturi aut repellendus nesciunt laboriosam modi tempore, omnis ea delectus officia nemo!</p>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__title">5. What warranties are to ensure deliverables are met?</h3>
        <p class="accordion__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio non beatae atque ipsum necessitatibus aperiam praesentium corrupti quis vitae quae. Quas accusamus aliquam, sequi soluta numquam voluptates pariatur facilis quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit odio facilis magni, dolores, dolor et aperiam reprehenderit aliquam error similique obcaecati ab ducimus cum incidunt deserunt pariatur recusandae dolore!</p>
      </div>
      <div class="accordion__item">
        <h3 class="accordion__title">6. Do you outsource work?</h3>
        <p class="accordion__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad quisquam nobis voluptate, ullam dignissimos voluptas. Reprehenderit obcaecati incidunt nam, laborum eius quae ratione ex, quaerat ipsa voluptate architecto quidem corrupti. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos consequatur provident voluptates incidunt cum asperiores ut fugit, non facilis laboriosam, officiis repudiandae? Ex soluta blanditiis non temporibus omnis! Cupiditate, neque?</p>
      </div>
    </div>
  </div>
</section>
