<header class="header">
  <div class="container header__container">
    <div class="header__top">
      <a href="#" class="header__logo">
        <img class="logo__img" src="../img/Appello-logo.svg" alt="Appello logo"/>
      </a>
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Portfolio</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Process</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Team</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Resources</a></li>
        </ul>
      </nav>
      <a class="btn-quote" href="#">Get project quote</a>
    </div>
    <div class="header__content">
      <h1 class="header__title">Leaders in Software Design & Development</h1>
      <p class="header__desc">
        Establishing a technology company takes a strong software team to
        deliver on what needs to be done.
      </p>
      <button class="btn header__btn" href="#">View our work</button>
    </div>
  </div>
</header>
