<section class="industry">
  <div class="container">
    <div class="industry__inner">
      <h2 class="industry__title">We're industry approved</h2>
      <div class="industry__desc">
        Appello is one of Australia’s most highly rated software companies by
        recognisable directories like Clutch, GoodFirms, AppFutura and many
        more.
      </div>
      <div class="industry__images">
          <img src="../img/industry/appfutura.svg" alt="appfutura">
          <img src="../img/industry/goodfilms.svg" alt="goodfilms">
          <img src="../img/industry/clutch.svg" alt="clutch">
          <img src="../img/industry/sydney.svg" alt="sydney">
      </div>
    </div>
  </div>
</section>
