<section class="ourWork">
  <div class="container">
    <h2 class="ourWork__title">We're proud of our work</h2>
    <div class="ourWork__row">
      <div class="ourWork__item work-item">
        <h3 class="work-item__title">50+</h3>
        <p class="work-item__desc">Successfully completed projects</p>
      </div>
      <div class="ourWork__item work-item">
        <h3 class="work-item__title">35+</h3>
        <p class="work-item__desc">Happy and appreciative customers</p>
      </div>
      <div class="ourWork__item work-item">
        <h3 class="work-item__title">10</h3>
        <p class="work-item__desc">Combined years of experience</p>
      </div>
      <div class="ourWork__item work-item">
        <h3 class="work-item__title">23</h3>
        <p class="work-item__desc">Experienced and talented workers</p>
      </div>

    </div>
  </div>
</section>
