<section class="partnerships">
  <div class="container">
    <h2 class="title">Regional partnerships</h2>
    <div class="partnerships__row">
      <div class="partnerships__item">
          <p class="partnerships__developmentArea">App development</p>
          <p class="partnerships__city">Sydney</p>
          <img class="partnerships__img" src="../img/partnerships/Sydney.jpg" width="78" height="97" alt="Sydney">
      </div>
      <div class="partnerships__item">
        <p class="partnerships__developmentArea">App development</p>
        <p class="partnerships__city">Sydney</p>
        <img class="partnerships__img" src="../img/partnerships/Brisbane.jpg" alt="Sydney">
      </div>
      <div class="partnerships__item">
        <p class="partnerships__developmentArea">App development</p>
        <p class="partnerships__city">Sydney</p>
        <img class="partnerships__img" src="../img/partnerships/Goldcoast.jpg" alt="Sydney">
      </div>
      <div class="partnerships__item">
        <p class="partnerships__developmentArea">App development</p>
        <p class="partnerships__city">Sydney</p>
        <img class="partnerships__img" src="../img/partnerships/Adelaide.jpg" alt="Sydney">
      </div>
      <div class="partnerships__item">
        <p class="partnerships__developmentArea">App development</p>
        <p class="partnerships__city">Sydney</p>
        <img class="partnerships__img" src="../img/partnerships/Melbourne.jpg" alt="Sydney">
      </div>
      <div class="partnerships__item">
        <p class="partnerships__developmentArea">App development</p>
        <p class="partnerships__city">Sydney</p>
        <img class="partnerships__img" src="../img/partnerships/Canberra.png" alt="Sydney">
      </div>
    </div>
  </div>
</section>
