<section class="portfolio">
  <div class="container">
    <div class="portfolio__row">
      <div class="portfolio__item">
        <img class="portfolio__img" src="../img/portfolio/eyelligence.jpg" alt="Eyetelligence" >
        <h3 class="portfolio__title">Eyetelligence – AI-based Eye Health</h3>
        <p class="portfolio__desc">Eyetelligence is a medtech company using AI based software to recognise eye diseases. Appello software developed their website which has just been released.</p>
      </div>
      <div class="portfolio__item">
        <img class="portfolio__img" src="../img/portfolio/charityChallenger.jpg" alt="Eyetelligence" >
        <h3 class="portfolio__title">Give + Get – Charity Challenger App</h3>
        <p class="portfolio__desc">Give + Get is a modern charity app. “Give”, while joining a community of active people who complete challenges and reap the rewards they offer; “Get”.</p>
      </div>
      <div class="portfolio__item">
        <img class="portfolio__img" src="../img//portfolio/voken.jpg" alt="Eyetelligence" >
        <h3 class="portfolio__title">Voken – Shared Childcare App</h3>
        <p class="portfolio__desc">Voken lets people arrange childcare with families they trust, earn tokens and use for your own requests.</p>
      </div>
      <div class="portfolio__item">
        <img class="portfolio__img" src="../img//portfolio/chattii.jpg" alt="Eyetelligence" >
        <h3 class="portfolio__title">Chattii – Disability Dating App</h3>
        <p class="portfolio__desc">Chattii is born from the need to provide a space for people living with disabilities to connect, chat, and explore their love life.</p>
      </div>
    </div>
    <button href="#" class="btn btn-reset btn--center">See more</button>
  </div>
</section>
