<section class="relationships">
  <div class="container">
    <h2 class="title">We value our relationships</h2>
    <p class="desc">
      Over the past decade, Appello has established itself as a leader in the IT industry. Along the way, we have formed a number of valued relationships with both clients and business partners.
    </p>
    <div class="relationships__companies">
      <img src="../img/relationships/eyetelligence.png" alt="eyetelligence logo">
      <img src="../img/relationships/oxybb.png" alt="eyetelligence logo">
      <img src="../img/relationships/fas.png" alt="eyetelligence logo">
      <img src="../img/relationships/walker.png" alt="eyetelligence logo">
      <img src="../img/relationships/foxo.png" alt="eyetelligence logo">
      <img src="../img/relationships/hst.png" alt="eyetelligence logo">
      <img src="../img/relationships/kitchko.png" alt="eyetelligence logo">
      <img src="../img/relationships/vidya.png" alt="eyetelligence logo">
    </div>
  </div>
</section>
