<section class="resources">
  <div class="container">
    <h2 class="title">Resources</h2>
    <p class="desc">
      Sharing the latest and greatest from industry trends, insights,
      inspiration and successful Appello ventures.
    </p>
    <div class="resources__row">
      <div class="resources__item">
        <img class="resources__img" src="../img/resources/Chief.jpg" alt="" />
        <h3 class="resources__title">
          Meet our Chief Design Officer, Pharaoh Woghiren
        </h3>
        <p class="resources__desc">
          Meet our Chief Design Officer, Pharaoh Woghiren.
        </p>
      </div>
      <div class="resources__item">
        <img class="resources__img" src="../img/resources/mobileapp.jpg" alt="" />
        <h3 class="resources__title">
          Refreshing Mobile Applications: How to Know When a Mobile App Redesign
          is Necessary?
        </h3>
        <p class="resources__desc">
          When to consider a mobile app redesign and signs to look out for to
          make sure your app captures user attention and loyalty.
        </p>
      </div>
      <div class="resources__item">
        <img class="resources__img" src="../img/resources/managementsoft.jpg" alt="" />
        <h3 class="resources__title">
          Your Guide to Developing the Best People Management Software Solution
        </h3>
        <p class="resources__desc">
          Custom employee management software or people management software
          solutions will be extremely beneficial to not only your HR department
          but the entire company.
        </p>
      </div>
    </div>
  </div>
</section>
