<section class="stages">
  <div class="container">
    <h2 class="title">Where are you now?</h2>
    <p class="desc">
      Use the tabs below to identify what stage you’re at so we can help you to
      move on to the next phase of your project.
    </p>
    <div class="tabs">
      <ul class="options">
        <li class="options__item options__item--active" data-tabs-path="design">
          Design
        </li>
        <li class="options__item" data-tabs-path="develop">Develop</li>
        <li class="options__item" data-tabs-path="launch">Launch</li>
      </ul>
      <div class="cards cards--active" data-tabs-target="design">
        <div class="cards__item">
          <h3 class="cards__title">1. Research</h3>
          <p class="cards__desc">
            We can help you to better understand your target audience, enabling
            you to create a more powerful value proposition for your business.
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">2. Requirements</h3>
          <p class="cards__desc">
            Based on research insights, we can help you to determine how your
            product and service should function.
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">3. UI Design</h3>
          <p class="cards__desc">
            We’re able to create unique and aesthetically pleasing visual design
            solutions that fulfil both your user needs and business goals.
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">4. Prototyping</h3>
          <p class="cards__desc">
            We can provide you with a clickable prototype so you can test and
            play with your product; allowing you to get a better feel for the
            user experience.
          </p>
        </div>
      </div>
      <div class="cards" data-tabs-target="develop">
        <div class="cards__item">
          <h3 class="cards__title">1. Lorem ipsum</h3>
          <p class="cards__desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias enim reiciendis numquam, quidem quae quis illo perferendis nulla repellat veniam possimus expedita deleniti dolorem, iusto quaerat animi officia vero. Sequi?
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">2. Lorem ipsum</h3>
          <p class="cards__desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur est nobis reiciendis consequatur quae ipsum sit, cumque sequi corporis quis illo, debitis nesciunt sunt? Iusto obcaecati quas vel earum dolorum?
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">3. Lorem ipsum</h3>
          <p class="cards__desc">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat fugit ad magni vitae consectetur commodi porro harum! Sequi architecto itaque totam repellendus sunt vel odit laudantium quis, atque unde commodi!
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">4. Lorem ipsum</h3>
          <p class="cards__desc">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat ratione nulla iusto veritatis quae laboriosam, amet quod ea quis corrupti! Sint animi perferendis sequi! Vel quae voluptate sit beatae maiores!
          </p>
        </div>
      </div>
      <div class="cards" data-tabs-target="launch">
        <div class="cards__item">
          <h3 class="cards__title"> Lorem ipsum dolor.</h3>
          <p class="cards__desc">
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi dolores sequi, explicabo corrupti, aut maxime fuga quos consequuntur eius ad vitae reprehenderit assumenda illum cupiditate similique harum accusantium? Nemo, illum?.
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">Lorem</h3>
          <p class="cards__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat cumque ducimus perferendis adipisci est excepturi tempora, quam in obcaecati, libero non porro? Illo ipsa nemo sapiente, corrupti non unde cum.
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">Lorem ipsum.</h3>
          <p class="cards__desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vero molestiae, hic quod tenetur optio aliquam quas, quidem, reiciendis facilis minima omnis magnam est. Dolor quos perspiciatis veritatis cumque voluptas.
          </p>
        </div>
        <div class="cards__item">
          <h3 class="cards__title">Lorem ipsum dolor.</h3>
          <p class="cards__desc">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, doloribus impedit. Eos hic deleniti tenetur facere consectetur ea neque accusantium doloremque cupiditate earum, minus quasi accusamus quos vel provident vitae?
          </p>
        </div>
      </div>
    </div>
    <button href="#" class="btn btn-reset btn--center">Contact us</button>
  </div>
</section>
