<section class="stages">
  <div class="container">
    <h2 class="title">Where are you now?</h2>
    <p class="desc">
      Use the tabs below to identify what stage you’re at so we can help you to
      move on to the next phase of your project.
    </p>
    <ul class="options">
      <li class="options__item">Design</li>
      <li class="options__item">Develop</li>
      <li class="options__item">Launch</li>
    </ul>
    <div class="cards">
      <div class="cards__item">
        <h3 class="cards__title">1. Research</h3>
        <p class="cards__desc">
          We can help you to better understand your target audience, enabling
          you to create a more powerful value proposition for your business.
        </p>
      </div>
      <div class="cards__item">
        <h3 class="cards__title">2. Requirements</h3>
        <p class="cards__desc">
          Based on research insights, we can help you to determine how your
          product and service should function.
        </p>
      </div>
      <div class="cards__item">
        <h3 class="cards__title">3. UI Design</h3>
        <p class="cards__desc">
          We’re able to create unique and aesthetically pleasing visual design
          solutions that fulfil both your user needs and business goals.
        </p>
      </div>
      <div class="cards__item">
        <h3 class="cards__title">4. Prototyping</h3>
        <p class="cards__desc">
          We can provide you with a clickable prototype so you can test and play
          with your product; allowing you to get a better feel for the user
          experience.
        </p>
      </div>

    </div>
    <button href="#" class="btn btn-reset btn--center">Contact us</button>
  </div>
</section>
