$font-family: 'Roboto', sans-serif;
$content-width: 1160px;
$container-offset: 30px;
$container-width: calc($content-width + ($container-offset * 2));
$whiteColor: #fff;
$blackColor: #000;
$greyColor: #737373;
$primaryBlue: #0A8BFE;
$secondaryBlue: #0D0D33;

